<div class="card-container">
  <mat-card class="custom-card">
    <mat-card-header>
      <h1>Create account</h1>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="onRegister()">
        <div>
          <div class="field-container">
            <mat-form-field appearance="outline" >
              <mat-label>Firstname</mat-label>
              <input type="text" matInput placeholder="Ex. Harry" [formControl]="firstname">
              <mat-error *ngIf="email.hasError('required')">Firstname is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="field-container">
            <mat-form-field appearance="outline" >
              <mat-label>Lastname</mat-label>
              <input type="text" matInput placeholder="Ex. Potter" [formControl]="lastname">
              <mat-error *ngIf="email.hasError('required')">Lastname is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="field-container">
            <mat-form-field appearance="outline" >
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex. pat@example.com" [formControl]="email">
              <mat-error *ngIf="email.hasError('required')">Email is <strong>required</strong></mat-error>
              <mat-error *ngIf="email.hasError('email')">Email format is invalid</mat-error>
            </mat-form-field>
          </div>
          <div class="field-container">
            <mat-form-field appearance="outline" >
              <mat-label>Password</mat-label>
              <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="password">
              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong></mat-error>
              <mat-error *ngIf="password.hasError('minlength')">Password must have at least <strong>{{passwordMinLength}}</strong> characters</mat-error>
              <mat-error *ngIf="notMatch">Passwords do not match</mat-error>
            </mat-form-field>
          </div>
          <div class="field-container">
            <mat-form-field appearance="outline" >
              <mat-label>Confirm password</mat-label>
              <input matInput [type]="hide2 ? 'password' : 'text'" [formControl]="confPassword">
              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="confPassword.hasError('required')">Confirm password is <strong>required</strong></mat-error>
              <mat-error *ngIf="confPassword.hasError('minlength')">Confirm password must have at least <strong>{{passwordMinLength}}</strong> characters</mat-error>
              <mat-error *ngIf="notMatch">Passwords do not match</mat-error>
            </mat-form-field>
            <div *ngIf="notMatch" style="background-color: red; width: 20px; height: 20px;">

            </div>
          </div>
        </div>
        <div class="button-container">
          <button type="submit" mat-flat-button color="primary" [disabled]="isDisabled()">
            Submit
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
