<div class="card-container">
  <mat-card class="custom-card">
    <mat-card-header>
      <h1>Login</h1>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="onLogin()">
        <div>
          <div class="field-container">
            <mat-form-field appearance="outline" >
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex. pat@example.com" [formControl]="email">
              <mat-error *ngIf="email.hasError('required')">Email is <strong>required</strong></mat-error>
              <mat-error *ngIf="email.hasError('email')">Email format is invalid</mat-error>
            </mat-form-field>
          </div>
          <div class="field-container">
            <mat-form-field appearance="outline" >
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong></mat-error>
              <mat-error *ngIf="password.hasError('minlength')">Password must have at least <strong>{{passwordMinLength}}</strong> characters</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="button-container">
          <button type="submit" mat-flat-button color="primary" [disabled]="isDisabled()">
            Submit
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <div>
        <div class="link-container">
          <a href="/register">Create account</a>
        </div>
        <div class="link-container">
          <a href="/forgot">Forgot my password</a>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
